.call-to-action{
    .call-to-action-wrapper{
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            right: -200px;
            height: 800px;
            width: 800px;
            transform: translateY(-50%);
            background-color: $light-gray-100;
            border-radius: 100%;
        }
    }
}