.human-resource{
    .human-resource-img{
        border-radius: 45px 45px 0px 45px;
        .img-title{
            right: -45px;
            bottom: 30px;
            border-radius: 25px 25px 0px 25px;
        }
    }
    .human-resource-content{
        .phone, .email{
            &::before{
                content: '';
                position: absolute;
                top: -9px;
                left: 0;
                width: 50px;
                height: 1px;
                background-color: $primary;
            }
        }
    }
}