.business-culture{
    .business-culture-img{
        .exprerience-box{
            top: 65px;
            right: -48px;
            max-width: 165px;
        }
    }
    .business-culture-content{
        .culture-check-list{
            .check-icon{
                width: 30px;
                height: 30px;
            }
        }
    }
}