.trending-collections {
    .trending-collections-slider{
        .owl-stage-outer{
            &::after{
                content: "";
                position: absolute;
                right: -50px;
                bottom: 0;
                width: 140px;
                height: 140px;
                z-index: -1;
                background-image: url(../../dist/images/shape/Vectorabstract.svg);
                background-repeat: no-repeat;
            }
            .owl-stage{
                .owl-item{
                    .item{
                        .card{
                            .card-body{
                                .card-img-overlay{
                                    button{
                                        position: absolute;
                                        left: 25px;
                                        bottom: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}